body{
  margin:10px;
}

.profile {
    display:flex;
    flex-flow: column;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid purple;
    padding:30px;
}
.image{
    width:300px;
    border: 1px solid blue;
    box-shadow: 2px 3px 5px grey;
}
